<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcule sua Gorjeta</title>
    <link rel="stylesheet" href="css/calculadora.css">
</head>
<body>
  <div class="form">
    <form action="/calculadora" method="post">

      <div class="form-header">
        <div class="title">
          <h1>Calcule sua Gorjeta</h1>
        </div>

        <div class="sair-button">
          <input type="button" value="Sair" onclick="btnSair()">
            <script>
              function btnSair() {
                  window.location.assign("/login")
              }
            </script>
        </div>
      </div>

      <div class="input-group">
        <div class="input-box">
          <span for="tip">$</span>
          <input id="tip" type="number" name="tip" placeholder="Digite seu faturamento" required>
        </div>
        
        <div class="input-box">
          <input id="percent" type="number" name="percent" placeholder="Digite sua porcentagem" required>
          <span for="percent">%</span>
        </div>

        <div class="calcular-button">
          <button type="button" onclick="calculo()">Calcular</button>
        </div>
        <br><br>
        <hr>
        <br><br>
        <div class="input-box">
          <label id="valGorjeta">Sua Gorjeta:</label>
          <input id="val" type="text" readonly><br>
          <label id="sumGorjeta">Salário + Gorjeta:</label>
          <input id="sum" type="text" readonly> 
        </div>
      </div>
    </form>
  </div>
  <script>
    function calculo(){
      var salario = "<%= salario %>";
      salario = parseFloat(salario);
      var percent = parseInt(document.getElementById("percent").value);
      var tip = parseInt(document.getElementById("tip").value);
      document.getElementById("val").value = (percent / 100) * tip;
      document.getElementById("sum").value = ((percent / 100) * tip) + salario;
      ;
    }
  </script>
</body>
</html>