<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcule sua Gorjeta</title>
    <link rel="stylesheet" href="css/calculadora.css">
</head>
<body>
  <div class="form">
    <form action="#">

      <div class="form-header">
        <div class="title">
          <h1>Calcule sua Gorjeta</h1>
        </div>
      </div>

      <div class="input-group">

        <div class="input-box">
          <span for="tip">$</span>
          <input id="tip" type="number" name="tip" placeholder="Digite seu faturamento" required>
        </div>
        
        <div class="input-porcent">
          <label for="porcent" id="porcent">%</label>
          <input type="range" value="0" min="0" max="100" id="range" oninput="rangenumber.value=value"/>
          <input type="number" id="rangenumber" min="0" max="100" value="0" oninput="range.value=value">
        </div>
        <br>
        <div class="continue-button">
          <input id="calcular" type="submit" value="Calcular" onclick="calculo()">
        </div>
        <br><br>
        <hr>
        <br><br>
        <div class="input-box">
          <label type="text" readonly id="val">Sua Gorjeta: </label><br>
          <label type="text" readonly id="sum">Salário + Gorjeta: </label> 
        </div>
      </div>
    </form>
  </div>
  <script>
    function calculo(){
      var percent = document.getElementById("rangenumber").value;
      var faturamento = document.getElementById("tip").value;
      var salario = "<%= salario %>;";
      
      document.getElementById("val").value = ((percent / 100) * faturamento);
      document.getElementById("sum").value = ((percent / 100) * faturamento) + salario;

    }
  </script>
</body>
</html>