@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #1BDBB1, #78E384, #B1CC76, #E3D378, #D9B273);;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #54a55d;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.sair-button {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

input[type=button]{
    border: none;
    background-color: #54a55d;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

input[type=button]:hover {
    background-color: #77b67e;
}

.input-group table{
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px #36723d;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #a7d3ac;
}


@media screen and (max-width: 1330px) {
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
}